body{
    background-color: gray;
}

.haut{
    background-color: #fff;
}
.maison{
    display: flex;
    justify-content: center;
}
.house{
    width: 7vw;
}
.rec {
    background-color: #fff;
    width: 24%;
}


.ble{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 24vw;
    justify-content: space-around;
    
}

.imgtxt img{
    width: 12vw;
}
p{
    color: rgb(22, 149, 172);
}
.quart{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    height: 800px;
    
}

.tree{
    width: 20vw;
}

h2{
    font-size: 40px;
}